<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>acada-snapshot</id>
            <username>admin</username>
            <password>root</password>
        </server>
        <server>
            <id>acada-release</id>
            <username>admin</username>
            <password>root</password>
        </server>
    </servers>
</settings>
