<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>project-snapshot</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>project-release</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
    </servers>
</settings>
